body {
    background-color: #9b5050;
    justify-items: center;
    align-items: center;
    height: 100vh;
}

.card-container {
    margin: 0%;
    padding: 0%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    &--titulo {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 1;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        color: #fff;
        
    }

    &--pokemon0 {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin: 10px;
        color: #fff;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        box-shadow: 7px 13px 37px rgba(18, 18, 18, 0.7);
        background-color: rgb(37, 60, 49);
        border: 2px solid rgb(31, 8, 80);

    }

    &--pokemon1 {
        grid-row-start: 2;
        grid-column-start: 2;
        grid-column-end: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin: 10px;
        color: #fff;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        box-shadow: 7px 13px 37px rgba(18, 18, 18, 0.7);
        background-color: rgb(37, 60, 49);
        border: 2px solid rgb(31, 8, 80);
    }

    &--pokemon2 {
        grid-row-start: 2;
        grid-column-start: 3;
        grid-column-end: 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin: 10px;
        color: #fff;      
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        box-shadow: 7px 13px 37px rgba(18, 18, 18, 0.7);
        background-color: rgb(37, 60, 49);
        border: 2px solid rgb(31, 8, 80);

    }

    &--pokemon3 {
        grid-row-start: 2;
        grid-column-start: 4;
        grid-column-end: 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin: 10px;
        color: #fff;
        background-color: rgb(37, 60, 49);
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        box-shadow: 7px 13px 37px rgba(18, 18, 18, 0.7);
        background-color: rgb(37, 60, 49);
        border: 2px solid rgb(31, 8, 80);

    }

    &--pokemon4 {
        grid-row-start: 2;
        grid-column-start: 5;
        grid-column-end: 6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin: 10px;
        color: #fff;
        background-color: rgb(37, 60, 49);
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        box-shadow: 7px 13px 37px rgba(18, 18, 18, 0.7);
        background-color: rgb(37, 60, 49);
        border: 2px solid rgb(31, 8, 80);
    }

    &--pokemon5 {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin: 10px;
        color: #fff;
        background-color: rgb(37, 60, 49);
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        box-shadow: 7px 13px 37px rgba(18, 18, 18, 0.7);
        background-color: rgb(37, 60, 49);
        border: 2px solid rgb(31, 8, 80);
    }

    &--pokemon6 {
        grid-row-start: 3;
        grid-column-start: 2;
        grid-column-end: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin: 10px;
        color: #fff;
        background-color: rgb(37, 60, 49);
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        box-shadow: 7px 13px 37px rgba(18, 18, 18, 0.7);
        background-color: rgb(37, 60, 49);
        border: 2px solid rgb(31, 8, 80);
    }

    &--pokemon7 {
        grid-row-start: 3;
        grid-column-start: 3;
        grid-column-end: 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin: 10px;
        color: #fff;
        background-color: rgb(37, 60, 49);
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        box-shadow: 7px 13px 37px rgba(18, 18, 18, 0.7);
        background-color: rgb(37, 60, 49);
        border: 2px solid rgb(31, 8, 80);
    }

    &--pokemon8 {
        grid-row-start: 3;
        grid-column-start: 4;
        grid-column-end: 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin: 10px;
        color: #fff;
        background-color: rgb(37, 60, 49);
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        box-shadow: 7px 13px 37px rgba(18, 18, 18, 0.7);
        background-color: rgb(37, 60, 49);
        border: 2px solid rgb(31, 8, 80);
    }

    &--pokemon9 {
        grid-row-start: 3;
        grid-column-start: 5;
        grid-column-end: 6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin: 10px;
        color: #fff;
        background-color: rgb(37, 60, 49);
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        box-shadow: 7px 13px 37px rgba(18, 18, 18, 0.7);
        background-color: rgb(37, 60, 49);
        border: 2px solid rgb(31, 8, 80);
    }

    &--pokemon10 {
        grid-row-start: 4;
        grid-column-start: 1;
        grid-column-end: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin: 10px;
        color: #fff;
        background-color: rgb(37, 60, 49);
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        box-shadow: 7px 13px 37px rgba(18, 18, 18, 0.7);
        background-color: rgb(37, 60, 49);
        border: 2px solid rgb(31, 8, 80);
    }

    &--pokemon11 {
        grid-row-start: 4;
        grid-column-start: 2;
        grid-column-end: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin: 10px;
        color: #fff;
        background-color: rgb(37, 60, 49);
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        box-shadow: 7px 13px 37px rgba(18, 18, 18, 0.7);
        background-color: rgb(37, 60, 49);
        border: 2px solid rgb(31, 8, 80);
    }

    &--pokemon12 {
        grid-row-start: 4;
        grid-column-start: 3;
        grid-column-end: 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin: 10px;
        color: #fff;
        background-color: rgb(37, 60, 49);
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        box-shadow: 7px 13px 37px rgba(18, 18, 18, 0.7);
        background-color: rgb(37, 60, 49);
        border: 2px solid rgb(31, 8, 80);
    }

    &--pokemon13 {
        grid-row-start: 4;
        grid-column-start: 4;
        grid-column-end: 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin: 10px;
        color: #fff;
        background-color: rgb(37, 60, 49);
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        box-shadow: 7px 13px 37px rgba(18, 18, 18, 0.7);
        background-color: rgb(37, 60, 49);
        border: 2px solid rgb(31, 8, 80);
    }

    &--pokemon14 {
        grid-row-start: 4;
        grid-column-start: 5;
        grid-column-end: 6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin: 10px;
        color: #fff;
        background-color: rgb(37, 60, 49);
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        box-shadow: 7px 13px 37px rgba(18, 18, 18, 0.7);
        background-color: rgb(37, 60, 49);
        border: 2px solid rgb(31, 8, 80);
    }

    &--pokemon15 {
        grid-row-start: 5;
        grid-column-start: 1;
        grid-column-end: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin: 10px;
        color: #fff;
        background-color: rgb(37, 60, 49);
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        box-shadow: 7px 13px 37px rgba(18, 18, 18, 0.7);
        background-color: rgb(37, 60, 49);
        border: 2px solid rgb(31, 8, 80);
    }

    &--pokemon16 {
        grid-row-start: 5;
        grid-column-start: 2;
        grid-column-end: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin: 10px;
        color: #fff;
        background-color: rgb(37, 60, 49);
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        box-shadow: 7px 13px 37px rgba(18, 18, 18, 0.7);
        background-color: rgb(37, 60, 49);
        border: 2px solid rgb(31, 8, 80);
    }

    &--pokemon17 {
        grid-row-start: 5;
        grid-column-start: 3;
        grid-column-end: 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin: 10px;
        color: #fff;
        background-color: rgb(37, 60, 49);
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        box-shadow: 7px 13px 37px rgba(18, 18, 18, 0.7);
        background-color: rgb(37, 60, 49);
        border: 2px solid rgb(31, 8, 80);
    }

    &--pokemon18 {
        grid-row-start: 5;
        grid-column-start: 4;
        grid-column-end: 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin: 10px;
        color: #fff;
        background-color: rgb(37, 60, 49);
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        box-shadow: 7px 13px 37px rgba(18, 18, 18, 0.7);
        background-color: rgb(37, 60, 49);
        border: 2px solid rgb(31, 8, 80);
    }

    &--pokemon19 {
        grid-row-start: 5;
        grid-column-start: 5;
        grid-column-end: 6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin: 10px;
        color: #fff;
        background-color: rgb(37, 60, 49);
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        box-shadow: 7px 13px 37px rgba(18, 18, 18, 0.7);
        background-color: rgb(37, 60, 49);
        border: 2px solid rgb(31, 8, 80);
    }
}